@import "tailwindcss";
@source "@/";

:root {
  --background: #fbf9f5;
  --foreground: #1b1c1a;

  --primary: #845145;
  --primary-container: #e8a798;
  --secondary: #705b3e;

  --surface: #ffffff;
  --surface-low: #f5f3ef;

  --outline: #d6c2be;
  
  --secondary-container: #fbdeb9;
  --on-secondary-container: #766143;

  --tertiary: #6e5b44;
  --tertiary-fixed: #f8dec1;

  --error: #ba1a1a;
  --error-container: #ffdad6;
  --primary-fixed: #ffdad2;
  --on-primary-fixed: #341008;

  --on-surface: #1b1c1a;
  --on-surface-variant: #524440;

  --surface-container-lowest: #ffffff;

  --surface: #ffffff;
  --surface-low: #f5f3ef;

  --outline: #d6c2be;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-container: var(--primary-container);

    --color-secondary: var(--secondary);
    --color-secondary-container: var(--secondary-container);
    --color-on-secondary-container: var(--on-secondary-container);

    --color-tertiary: var(--tertiary);
    --color-tertiary-fixed: var(--tertiary-fixed);

    --color-error: var(--error);
    --color-error-container: var(--error-container);

    --color-primary-fixed: var(--primary-fixed);
    --color-on-primary-fixed: var(--on-primary-fixed);

    --color-on-surface: var(--on-surface);
    --color-on-surface-variant: var(--on-surface-variant);

    --color-surface-container-lowest: var(--surface-container-lowest);

    --color-surface: var(--surface);
    --color-surface-low: var(--surface-low);

    --color-outline: var(--outline);

    --font-sans: var(--font-inter);
    --font-display: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}