@import "tailwindcss";

:root {
  --background: #fbf9f5;
  --foreground: #1b1c1a;

  --primary: #845145;
  --primary-container: #e8a798;
  --secondary: #705b3e;

  --surface: #ffffff;
  --surface-low: #f5f3ef;

  --outline: #d6c2be;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-primary: var(--primary);
    --color-primary-container: var(--primary-container);
    --color-secondary: var(--secondary);

    --color-surface: var(--surface);
    --color-surface-low: var(--surface-low);

    --color-outline: var(--outline);

    --font-sans: var(--font-inter);
    --font-display: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}